@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
body {
  margin: 0;
  font-family: "Source Code Pro", monospace !important;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 33%,
    rgba(207, 207, 207, 1) 70%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 33%,
    rgba(207, 207, 207, 1) 70%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 33%,
    rgba(207, 207, 207, 1) 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#cfcfcf",GradientType=1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
