
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Ultra&display=swap");

.slot-machine {
  padding: 50px;
  width: 60%;
  text-align: center;
  margin: auto;
  border-radius: 20px !important;
  background-color: rgb(255, 255, 234);
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
    inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
    inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
    inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px,
    hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px, hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px;
  background: conic-gradient(
    #edc800,
    #e3b600,
    #f3cf00,
    #ffe800,
    #edc800,
    #e3b600,
    #f3cf00,
    #ffe800,
    #edc800,
    #e3b600,
    #f3cf00,
    #ffe800,
    #edc800,
    #e3b600,
    #f3cf00,
    #ffe800
  );
}
.slot-machine * {
  padding: 10px;
}
.slot-machine h5 {
  font-family: "Ultra", serif;
  color: rgb(224, 0, 0);

  text-shadow: 5px 5px #000000;
  font-size: 3.4vw;
}
.active-reel{
  background-color: rgba(128, 128, 128, 0.226) !important;
}
.slot-machine-reels span {
  font-size: 6vw;
  padding: 10px;
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
    inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
    inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
    inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px,
    hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px, hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px;
  border: 2px solid black;
  background-color: rgb(238, 238, 188);
  text-shadow: 7px 7px #000000;
  border-radius: 10px;
  margin-left: 1px;
}

.slot-machine-coins-container {
  text-align: center !important;
  border-radius: 10px;
  width: 20vw;
  margin: auto;
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
    inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
    inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
    inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px,
    hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px, hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px;
  background-color: rgb(224, 224, 199);
}
.slot-machine-coins-container span {
  font-size: 3vw !important;
  font-weight: bold;
  font-family: "DSEG14-Classic";
  color: rgb(36, 33, 33);
  text-shadow: 2px 2px #aa9494;
}

.slot-machine button {
  border-radius: 50% !important;
  height: 8vw;
  width: 8vw;

  background-color: rgb(180, 177, 177) !important;
  font-family: "Ultra", serif;
  border: none !important;
  color: rgb(248, 3, 3);
  font-size: 2.2vw;
  text-shadow: 4px 4px 4px #0f0f0f;
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
    inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
    inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
    inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px,
    hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px, hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px;
}

.slot-machine button:hover {
  color: rgb(248, 3, 3);
}

.rules-btn{
  height: 5.5vw !important;
  width: 5.5vw !important;
  font-size: 1.2vw !important;
  float: right;
  color: rgb(248, 211, 3) !important;

}
/* Big tablets to 1200px*/
/* @media only screen and (max-width: 1200px) {
} */

/* Small tablets to big tablets: from 768 to 1032*/
@media only screen and (max-width: 1032px) {
  .slot-machine {
    width: 80%;
    padding: 20px;
    margin-top: 20% !important;
  }
  .slot-machine h5 {
    font-size: 7vw;
    text-shadow: 3px 3px #000000;
  }

  .slot-machine-reels span {
    font-size: 14.2vw;
    padding: 8px !important;
    text-shadow: 4px 4px #000000;
    border: 1px solid black;
    margin-left: 1px;
  }

  .slot-machine-coins-container span {
    font-size: 7vw !important;
  }
  .slot-machine-coins-container {
    width: 75%;
  }

  .slot-machine button {
    height: 20vw;
    width: 20vw;
    font-size: 5vw;
  }
}

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  .slot-machine {
    width: 95%;
    padding: 20px;
    margin-top: 20% !important;
  }
  .slot-machine h5 {
    font-size: 11vw;
    text-shadow: 3px 3px #000000;
  }

  .slot-machine-reels span {
    font-size: 14.2vw;
    padding: 8px !important;
    text-shadow: 4px 4px #000000;
    border: 1px solid black;
    margin-left: 1px;
  }

  .slot-machine-coins-container span {
    font-size: 7vw !important;
  }
  .slot-machine-coins-container {
    width: 75%;
  }

  .slot-machine button {
    height: 25vw;
    width: 25vw;
    font-size: 7vw;
  }
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  .slot-machine {
    width: 95%;
    padding: 20px;
    margin-top: 20% !important;
  }
  .slot-machine h5 {
    font-size: 11vw;
    text-shadow: 3px 3px #000000;
  }

  .slot-machine-reels span {
    font-size: 14.2vw;
    padding: 8px !important;
    text-shadow: 4px 4px #000000;
    border: 1px solid black;
    margin-left: 1px;
  }

  .slot-machine-coins-container span {
    font-size: 7vw !important;
  }
  .slot-machine-coins-container {
    width: 75%;
  }

  .slot-machine button {
    height: 30vw;
    width: 30vw;
    font-size: 7vw;
  }
}
